


*{  color: gray;
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    font-family: 'Courier New', Courier, monospace;

background-color: rgb(60, 42, 92);;
width: 100%;
padding: 3em;

}


#menu{
    font-size: 2vw;
    border:solid gainsboro;
    display: flex;
    align-items: center;
    height: 100%;
     width: 100%;
     justify-content: space-between;
     list-style: none;
     padding: 4em 2em 2em 2em;
     
}

.img1{
    padding: auto;
    width: 100%;
    

     
}


#menu img{
    border-radius: 15%;
    border: solid gray ;
height: 10%;
width: 10vh;
}
#menu ul{ 
    
    display: flex;
    height: 100%;
     width: 50%;
     justify-content: space-between;
     list-style: none;
    }
    #menu button{
border-radius: 10px;
height: 7vh;
width: 20vh;
background-image :url(IMG/ubicacion\ -\ copia.jpg);
    background-size:cover;
border: solid gray;
    }

#sc1{
    
background-image: url(IMG/fondo.jpeg);
background-repeat: no-repeat;
background-size: cover;
padding: 20em 4em 12em 5em;
text-align: center;
color: white;


}
#sc2{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2em;
    
    
    
}
#sc2 img{
    height: 40%;
    width: 40vh;
}

.grupo{
    display: flex;
    align-items: center;
    gap: 2em;
}

.grupo div{

    width: 100%;
}
#sc3{
    border-style: groove;
    background-color: gray;
    text-align: center;
    padding: 40px;

}
#cocoro{
    border-style: groove;
    border-radius: 100%;
    height: 50%;
    width: 50%;
}
#text4{
    background-size: 8;
    height: 100%;
    width: 100%;
    background-image: url(IMG/de-sal.jpg);
    background-color: aqua;
}
#sc4{
    padding: 3em;
    image-resolution: 100%;
    text-align: center;
}

#sc4 img{
    padding: 2em;
}
#sc4 .at{
    border-style: groove;
    background-color: gray;
    padding: 4em;
    height: max-content;
}
#sc5{
    padding: 2em 6em 0em 3em;
}
#sc5 div{
    column-count: 3;

}
.fenix{
    border-style: groove;
    width: 55vh;
    height: 500%;
}
.los{
    border-style: groove;
    width: 23vh;
    height: 100%;
}

#sc6{
    padding: 2em;
column-count: 2;
padding: 3em;

}
#sc6 img{ 
    border-style: groove;
    width: 50vh;
    height: 50%;
}
#sc7{
    border-style: groove;
    text-align: center;
    padding: 2em;
    background-color: gray;
}
#sc8{
    column-count: 2;
    padding: 2em;
}
#sc8 button{
    
    border-radius: 60px;
    height: 10em;
    width: 25em;
    background-image :url(IMG/ubicacion\ -\ copia.jpg);
    background-size:cover;
 
}
#imgc1{
    width: 20%;
    height: 20%;
    border-style: groove;
    border-radius: 10%;
}
#imgc2{
    width: 20%;
    height: 20%;
    border-style: groove;
    border-radius: 60%;
}
#imgc3{
    width: 20%;
    height: 20%;
    border-style: groove;
    border-radius: 10%;
}

   

#caja3 img {
    border: solid red;
    width: 30vh;
    height: 60vh;
    border: solid red;

}

h1{
    color: white;
    font-size: 70px;
}

h2{
    color: white
}
p{
font-size: 1.5em;

    color: white;
}
h3{
    font-size: 3em;
    color: white;
}
h4{
    color: white;
    font-size: 2em;
}

@media only screen and (min-width:0px) and (max-width: 600px) {
    body {
       

        padding: 0 0 0 0;
      background-color: rgb(60, 42, 92);;
    }
    #sc1{
        padding: 4em;
    }
    #sc2 img{
height: 25vh;
        width: 22vh;
    }
p{
    font-size: 15px;
}
#sc5{
column-count: 1;

}

#sc5 .fenix{

width: 20vh;
height: 20vh;
}
#sc6{
    column-count: 1;
}
#sc8 button{
width: 20vh;
height: 10vh;
}
 }

 
 @media only screen and (min-width: 768px) {
    body {
       
        padding: 0 0 0 0;
      background-color: rgb(60, 42, 92);
    }
    #sc1{
        padding: 4em;
    }
    #sc2 img{
height: 25vh;
        width: 22vh;
    }
p{
    font-size: 15px;
}
#sc5{
column-count: 1;

}

#sc5 .fenix{

width: 20vh;
height: 20vh;
}
#sc6{
    column-count: 1;
}
#sc8 button{
width: 20vh;
height: 10vh;
}
 }



 

